
<h2> ALTA DE NUEVO USUARIO A NUESTRA WEB</h2>
{{error}}
<form method="post"><!--sin el accion funciona mejor el get y post-->

    <label>Usuario:
        <input type="text" name="user">
    </label>
    <br>    
    <label>Password:
        <input type="password" name="pass">
    </label>
    <br>
    <label>Email:
        <input type="text" name="email">
    </label>
    <br>
    <label>
        <button type="submit"> Registración</button>
    </label>

</form>