<h1>¡¡¡ YA ESTAS INCRIPTO!!!</h1>
<br>
<h2> EL PROXIMO EVENTO ES EN TUCUMAN...</h2>
<br><br><br><br>
<h3> RECORDA TUS DATOS DE INSCRIPCION.. porque los vas a necesitar para imprimir tu certificado</h3>

